.git
.github
.claude
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public/uploads/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
!.env.example
tests
_default.php
*.zip
Dockerfile
docker-compose.yml
